<div [formGroup]="form">
  <label [attr.for]="question.key">
    {{question.label}}
  </label>

  <div [ngSwitch]="question.controlType">
    <input *ngSwitchCase="'textbox'" [formControlName]="question.key"
      [id]="question.key" [name]="question.key" [type]="question.type" [placeholder]="question.placeholder"
      class="form-control"/>

    <select *ngSwitchCase="'dropdown'" [formControlName]="question.key"
      [id]="question.key" class="form-control">
      <option *ngFor="let option of question.options" [value]="option.key">
        {{option.value}}
      </option>
    </select>
  </div>

  <small class="text-danger" *ngIf="!isValid">
    {{question.label}} is required
  </small>
</div>
